<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'superior/barra.html' %}
    <h1>
    Hola esta estamos viendo la plantilla desde un html
    </h1>

{% if nombre_persona == ' Profesor Thiago' %}
<p>El curso lo imparte el profesor titular</p>

{% else %}
<p>El curso lo imparte el profesor suplente: {{ nombre_persona }}</p>

{% endif %}

<p>
    El nombre del profesor es: {{nombre_persona|upper}} {{apellido_persona.upper}}
    <br>
    La fecha y hora actual es: {{fecha_ahora.day}} / {{fecha_ahora.month}} / {{fecha_ahora.year}}  
</p>
<p><strong>Temas del curso: </strong></p>

<p>
    <ul>
    {% if temas %}
        {% for elTema in temas %}

            <li>{{elTema|first|lower}}</li>

        {% endfor %}
        {% else %}
            <li>No hay temas en este curso</li>
    {% endif %}
    </ul>
</p>

</body>
</html>