<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Estas buscando: <strong>{{query}}</strong></p>

    {% if articulos %}
    <p>Articulos encontrados: {{articulos.lenght}} articulos</p>
    <ul>
        {% for articulo in articulos %}
        <li>
            {{articulo.nombre}} &nbsp; {{articulo.seccion}} &nbsp; {{articulo.precio}} 
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No está el articulo encontrado</p>
    {% endif %}
</body>
</html>